.responsive-canvas {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    align-self: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}